*,
*::after
*::before {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body {
    background: rgb(255, 132, 100);
    background: linear-gradient(
    90deg,
        rgba(255, 132, 100, 1) 0%,
        rgba(253, 105, 165, 1) 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2); 
    padding: 25px;
    text-align: center;
    width: 450px;
    border: 3px solid gold;
    border-radius: 20px;
}

.card-body h1 {
    margin-top: 60px;
    color: black;
    font-family: Castellar;
    font-size: 80px;
}

.read#read {
    color: black;
    font-size: 20px;
    font-family: Baskerville Old Face;
    font-weight: bold;
}

button#inc {
    margin-top: 30px;
   background: transparent;
   border: 0px;
}

button#inc#111 {
    
    background: transparent;
    border: #f79f1f;
}

button#reset {
    margin-top: 10px;
    margin-right: 210px;
    border: 2px solid black;
    font-weight: bold;
    border-radius: 40px;
    width: 35%;
    height: 35px;
    background: palevioletred;
    font-size: 22px;
    font-family: Baskerville Old Face;
}
button#reset:hover {
    background: purple;
    color: #fff;
}


.mar{
    margin-top: 70px;
    font-size: 22px;
    color: black;
    font-family: Baskerville Old Face;
    font-weight: bold;
}

button#soq {
    width: 100%;
    height: 36px;
    border-radius: 40px;
    background: palevioletred;
    color: black;
    font-weight: bold;
    border: 2px solid black;
    font-size: 22px;
    font-family: Baskerville Old Face;
}

button#soq:hover {
    background: purple;
    color: white;
}
